.bt1{
    margin-bottom: 20px;
  
    
    }
    

    .container{
        margin-top: 50px;
    }

    .box{
    
        width: 100%;
        height: 50%;
        float: right;
        text-align: center;
    }
    
    #bt2{
        float: right;
        text-align: center;
    }

    /* #color{
    width: 100%;
    height: 50%;
    float: right;
    text-align: center;
} 
.table{
    padding: 20px;
   
}

/* .bt1{

    background-color: green;
    
    color: white;
    
    width: 20%;
    
    margin-bottom: 20px;
    
    }
    
    h1{
    
    color:white;
    
    }
    
    .box{
    
    background-color: chartreuse;
    
    padding-bottom: 2px;
    
    margin-left: 20%;
    
    width: 50%;
    
    text-align: center;
    
    font-weight: bold;
    
    border-radius: 30px;
    
    }
    
    .bt2{
    
    background-color: green;
    
    margin-left: 1%;
    
    color: white;
    
    }
    
    .bt3{
    
    background-color: orangered;
    
    margin-left:1px;
    
    color: white;
    
    }
    
    .bt4{
    
    background-color: blue;
    
    margin-left:1px;
    
    color: white;
    
    }
    
    .bt5{
    
    background-color: orangered;
    
    margin-left:1px;
    
    color: white;
    
    }
    
    .bt6{
    
    background-color: blue;
    
    margin-left:1px;
    
    color: white;
    
    }
    
    .row{
    
    margin-bottom: 20px;
    
    }
    
    li{
    
    border: 1px solid black;
    
    width: 30%;
    
    text-align: center;
    
    padding-bottom: 2px;
    
    box-shadow: 3px;
    
    list-style: none;
    
    }
    
    .newL{
    
    float: right;
    
    }  */ */
    /* #bt3{
    
    background-color: orangered;
    
    margin-left:1px;
    
    color: white;
    
    }
    
    .bt4{
    
    background-color: blue;
    
    margin-left:1px;
    
    color: white;
    
    }
    
    .bt5{
    
    background-color: orangered;
    
    margin-left:1px;
    
    color: white;
    
    }
    
    .bt6{
    
    background-color: blue;
    
    margin-left:1px;
    
    color: white;
    
    }
    
    .row{
    
    margin-bottom: 20px;
    
    }
    
    li{
    
    border: 1px solid black;
    
    width: 30%;
    
    text-align: center;
    
    padding-bottom: 2px;
    
    box-shadow: 3px;
    
    list-style: none;
    
    }
    
    .newL{
    
    float: right;
      */