
.footer {
    background-color: #101d2c;
    grid-column: full-start/full-end;
    padding: 8rem
}

.footer .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.footer .nav__link:link,
.footer .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem;
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s
}

.footer .nav__link:hover {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
}

.footer .copyright {
    font-size: 1.4rem;
    text-align: center;
    color: #aaa;
    margin: 0 auto;
    width: 50%;
    margin-top: 6rem;
    font-family: "Josefin Sans", sans-serif
}

@media only screen and (max-width: 37.5rem) {
    .footer .copyright {
        width: 100%
    }
}