
.sidebar {
    background-color: #c69963;
    grid-column: sidebar-start/sidebar-end;
    grid-row: 1/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media only screen and (max-width: 62.5em) {
    .sidebar {
        grid-column: 1/-1;
        grid-row: 1/2;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.nav-btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
}

.nav-btn::before,
.nav-btn::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
}

.nav-btn::before {
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
}

.nav-btn::after {
    -webkit-transform: translateY(1.3rem);
    transform: translateY(1.3rem);
}

@media only screen and (max-width: 62.5em) {
    .nav-btn {
        margin-top: 0;
        width: 3rem;
        position: fixed;
        right: 3rem;
    }

    .nav-btn::before {
        width: 3rem;
        -webkit-transform: translateY(-1.2rem);
        transform: translateY(-1.2rem);
    }

    .nav-btn::after {
        width: 3rem;
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem);
    }
}