h1 {
    color: rgb(173, 189, 144);
    border-color: #aa6161;
    border-style: solid;
    border: dashed;
    background-color: aqua;
}

h4 {
    color: #aa6161;
}
body {
    ba
    background-repeat: no-repeat;