.navbar{
    background-color: rgb(26, 106, 126);
}
.a1{
    background-color: rgb(8, 114, 114);
    font-size: small;
    color: whitesmoke;
}
img{
   border-radius: 50%;
    width: 50%;
    height: 90%;
    margin-left: 30%;
    border: 3px solid rgb(32, 25, 25);
    border-top-right-radius: 2px solid brown;
}

.a2{
    background-color: rgb(68, 82, 82);
    font-size: small;
    color: whitesmoke;
    
}

hr {
   background-color: aliceblue;
}
.a4{
    background-color: rgb(52, 201, 144);
    font-size: small;
    color: whitesmoke;
    
}
footer{
    background-color: rgb(16, 72, 82);
    text-align: center;
}
   
