// .card-body{
//     @include a-button;
// }
// .link1{
//     @include a-link;
// }

.shadow{
    @include cardshdow;
}
.num{
    color:rgb(243, 107, 107);
    &:hover{
        color: #e9e9e9;
    }
}
.cardtex{
    color: $grey-color;
}

.client{
    filter: grayscale(1);
    opacity: 0.5;
}

.client-body{
    background-color: #e9e9e9;
}

.hov1{

    @include iconhover;
   }

//    .btn:hover{
//     color: red;
//    }


.dollor{
    color: $navlink;
}

.dollor1{
    color: $navlink;
    // margin-bottom: 5px;
}

.fab{
    @include hovercard;
}

// .hover2{
//     @include iconhover;
// }
