.nav1{
    @include navi;
}

.lead{
    @include color;
}
.mk{

    @include linearBgImage("https://images.unsplash.com/photo-1656546543427-46d17b70a149?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
 }

 .banner{
    @include control;
 }