$primary-color:rgb(194, 221, 122);
$color:#fff;
$card-color:yellowgreen;
$cardbody:rgb(12, 43, 41);
$navlink:red;
$light-background: #ffffff;
$white-background: #fff;
$light-text: #036;
$dark-background: #6b717f;
$dark-text: #d2e1dd;
$grey-color:grey;
$black:black;

$alert-col:(
    "primary" : red,
    "success":white,
    "danger":green,
    "warning":yellow,
    )
